html, body {
	font-family: Cooper Black, "Open San", "segoe UI";
	padding: ;
	margin: ;
    }

header {
	padding: 20px 40px;
	background-color: #123;
	color: #FDEE87;
	}

header > span {
	font-size: 20px;
	font-weight: 500;
	}
	
header div {
	float: right;
	}
	
header div a {
	marging-left: 20px;
	color: white;
	}
	
div body { 
	padding: 30px:
	}
	
footer {
  background-color: #123;
  padding: 0.0001px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}


/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0;
  background: #ccc;
  padding: 10px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #f1f1f1;
  padding: 10px;
}